<header>
  <nav class="container px-4 flex justifiy-start items-center">
    <ul class="flex space-x-2">
      <li>
        <a routerLink="/home" 
           routerLinkActive="bg-indigo-600 text-white"
           class="cursor-pointer px-3 py-2 rounded-md text-white font-medium hover:bg-gray-100 transition-colors duration-200">
           Home
        </a>
      </li>
      <li>
        <a routerLink="/favorite" 
           routerLinkActive="bg-indigo-600 text-white"
           class="cursor-pointer px-3 py-2 rounded-md text-white font-medium hover:bg-gray-100 transition-colors duration-200">
           Favorites
        </a>
      </li>
    </ul>
  </nav>
</header>