<div class="flex flex-wrap justify-center items-center p-8">
  <nz-card 
    class="w-64 shadow-lg rounded-xl border-4" 
    [nzBordered]="false" 
    [nzTitle]="pokemon.name" 
    
    [nzActions]="[actionFav, actionDetails]" 
    [nzCover]="coverTemplate"
  >
  </nz-card>
</div>

<ng-template #coverTemplate>
  <img 
    [src]="imgUrl$ | async" 
    alt="Pokemon Image" 
    class="w-full h-40 object-cover" 
  />
</ng-template>

<ng-template #actionFav>
  <button nz-button nzType="text" nzShape="circle" (click)="toggleFav()">
    <span 
      nz-icon 
      nzType="heart" 
      [nzTheme]="pokemon.isFavorite ? 'fill' : 'outline'"
      [style.color]="pokemon.isFavorite ? 'red' : ''"
    ></span>
  </button>
</ng-template>

<ng-template #actionDetails>
  <button nz-button nzType="text" (click)="showModalMiddle()">
    <nz-icon nzType="eye" nzTheme="outline"></nz-icon>
  </button>
</ng-template>


<nz-modal 
  [(nzVisible)]="isVisibleMiddle" 
  nzTitle="Chi tiết Pokémon: {{ pokemon.name }}" 
  nzCentered
  (nzOnCancel)="handleCancelMiddle()" 
  (nzOnOk)="handleOkMiddle()">
  
  <ng-container *nzModalContent>
    <div *ngIf="isLoading$ | async; else loadedContent">
      <nz-spin nzSimple [nzSize]="'large'" class="flex justify-center p-12"></nz-spin>
    </div>

    <ng-template #loadedContent>
      <div class="text-center mb-5">
        <img [src]="imgUrl$ | async" alt="Pokemon Sprite" class="w-40 h-40 mx-auto" />
      </div>

      <p class="text-lg font-semibold mb-2">Thông số cơ bản:</p>
      <ul class="list-none p-0 space-y-2" *ngIf="stats$ | async as stats">
        @for (stat of stats; track stat.stat.name) {
        <li class="flex justify-between border-b border-gray-200 pb-1">
          {{ stat.stat.name | uppercase }}:
          <span class="text-sm font-medium text-gray-600">{{ stat.base_stat }}</span>
        </li>
        }
      </ul>
    </ng-template>
  </ng-container>
</nz-modal>