/* Viền mặc định cho Card thường */
.border-default {
  border-color: #d1d5db; 
}

/* Viền Pokemon Phổ thông */
.border-common {
  border-color: #48bb78;
}

/* Viền Pokemon Huyền thoại */
.border-legendary {
  border-color: #f6bf4c; 
  border-width: 5px; 
  box-shadow: 0 10px 15px -3px rgba(246, 191, 76, 0.5), 0 4px 6px -2px rgba(246, 191, 76, 0.5); 
}

/* Viền Pokemon Thần thoại*/
.border-mythical {
  border: 5px solid transparent;
  border-radius: 0.75rem; 
  background-image: linear-gradient(#fff, #fff), 
                    linear-gradient(45deg, #9400d3, #ff0000, #ff7f00, #00ffff, #ff00ff, #9400d3);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  @apply shadow-xl shadow-purple-600/70;
}