<div class="flex flex-wrap justify-center items-center p-4">
  <nz-card 
    class="w-64 shadow-lg rounded-xl border-4 overflow-hidden no-body-padding" 
    [ngClass]="{
      'border-common': pokemon.rarity === 'Common',
      'border-legendary': pokemon.rarity === 'Legendary',
      'border-mythical': pokemon.rarity === 'Mythical'
    }"
    [nzBordered]="false" 
    [nzBodyStyle]="{ 'padding': '0px' }"
    [nzTitle]="titleTemplate" 
    [nzActions]="[actionFav, actionDetails]" 
    [nzCover]="coverTemplate"
  >
  </nz-card>
</div>

<ng-template #titleTemplate>
  <div class="flex items-center justify-between">
    
    <span 
      class="font-bold truncate pr-2" 
      [ngClass]="'text-' + (pokemon.element | lowercase)"
      title="{{ pokemon.name | titlecase }}">
      {{ pokemon.name | titlecase }}
    </span>

    <div 
      class="flex-shrink-0 rounded-full p-1 w-8 h-8 flex items-center justify-center shadow-sm"
      [ngClass]="'bg-' + (pokemon.element | lowercase)" 
      title="Hệ: {{ pokemon.element | titlecase }}">
      
      <img 
        [src]="getTypeIcon(pokemon.element)" 
        [alt]="pokemon.element"
        class="w-5 h-5 object-contain filter drop-shadow-md"
        loading="lazy"
      />
    </div>
  </div>
</ng-template>

<ng-template #coverTemplate>
  <img 
    [src]="pokemon.imgUrl" 
    alt="Pokemon Image" 
    class="w-full h-250 object-cover" 
    loading="lazy"
  />
</ng-template>

<ng-template #actionFav>
  <button nz-button nzType="text" nzShape="circle" (click)="toggleFav()">
    <span 
      nz-icon 
      nzType="heart" 
      [nzTheme]="pokemon.isFavorite ? 'fill' : 'outline'"
      [style.color]="pokemon.isFavorite ? 'red' : ''"
    ></span>
  </button>
</ng-template>

<ng-template #actionDetails>
  <button nz-button nzType="text" (click)="showModalMiddle()">
    <nz-icon nzType="eye" nzTheme="outline"></nz-icon>
  </button>
</ng-template>


<nz-modal 
  [(nzVisible)]="isVisibleMiddle" 
  nzTitle="Chi tiết Pokémon: {{ pokemon.name }}" 
  nzCentered
  (nzOnCancel)="handleCancelMiddle()" 
  (nzOnOk)="handleOkMiddle()"
  [nzFooter]="modalFooter">
  
  <ng-container *nzModalContent>
    <div *ngIf="isLoading$ | async; else loadedContent">
      <nz-spin nzSimple [nzSize]="'large'" class="flex justify-center p-12"></nz-spin>
    </div>

    <ng-template #loadedContent>
      <ng-container *ngIf = "selectedPokemon$ | async as detail">
      <div class="text-center mb-5">
        <img [src]="detail.imgUrl" alt="Pokemon Sprite" class="w-40 h-40 mx-auto" loading="lazy"/>
      </div>

      <p class="text-lg font-semibold mb-2">Thông số cơ bản:</p>
      <div echarts [options]="chartOption" class="demo-chart" style="height: 300px;"></div>
      </ng-container>
    </ng-template>
  </ng-container>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleOkMiddle()">Đóng</button>
  </ng-template>
</nz-modal>